In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\nilay\anaconda3\lib\site-packages (8.0.30)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\nilay\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.1)

In [1]:
import mysql.connector

connection = mysql.connector.connect(
  host ="localhost",
  user ="root",
  passwd ="root",
  database="ecom_db"
)
 
print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001A5A929EA60>

In [29]:
type(connection)

mysql.connector.connection_cext.CMySQLConnection

In [2]:
cursor_obj = connection.cursor()

query = "select * from customers;"
cursor_obj.execute(query)
   
myresult = cursor_obj.fetchall()

In [13]:
myresult

[(1,
  'Nilay',
  'nilay@gmail.com',
  '9999999999',
  'nilay123',
  'Lagos',
  datetime.date(2019, 8, 15),
  0),
 (2,
  'Joshua',
  'joshua@gmail.com',
  '1999999999',
  'joshua123',
  'Johannesburg',
  datetime.date(2020, 9, 15),
  1),
 (3,
  'Thinus',
  'Thinus@gmail.com',
  '2999999999',
  'Thinus123',
  'Johannesburg',
  datetime.date(2021, 9, 15),
  1),
 (4,
  'Xaba',
  'Xaba@gmail.com',
  '3999999999',
  'Xaba123',
  'Adda',
  datetime.date(2021, 9, 26),
  0),
 (5,
  'Thebe',
  'Thebe@gmail.com',
  '4999999999',
  'Thebe123',
  'Adda',
  datetime.date(2020, 6, 25),
  1),
 (6,
  'Dominic',
  'Dominic@gmail.com',
  '5999999999',
  'Dominic123',
  'Aberdeen',
  datetime.date(2021, 9, 5),
  1),
 (7,
  'Joel',
  'Joel@gmail.com',
  '6999999999',
  'Joel123',
  'Abuja',
  datetime.date(2021, 8, 25),
  0),
 (8,
  'Tayor',
  'Tayor@gmail.com',
  '7999999999',
  'Tayor123',
  'Abuja',
  datetime.date(2021, 9, 15),
  0),
 (9,
  'Micheal',
  'Micheal@gmail.com',
  '8999999999',
  'Micheal123',
  'Abuja',
  datetime.date(2021, 9, 15),
  0),
 (10,
  'Safeeyah',
  'safeeyah@gmail.com',
  '6999999999',
  'safi123',
  'Johannesburg',
  datetime.date(2019, 12, 25),
  1),
 (11,
  'Norman',
  'norman@gmail.com',
  '6699999999',
  'nor123',
  'Durban',
  datetime.date(2019, 12, 15),
  1),
 (12,
  'Ruhlani',
  'ruhlani@gmail.com',
  '6599999999',
  'ruh123',
  'Lagos',
  datetime.date(2017, 12, 25),
  1),
 (13,
  'Hulisani',
  'hulisani@gmail.com',
  '6999999922',
  'Hul123',
  'Durban',
  datetime.date(2017, 1, 25),
  0),
 (14,
  'Marshal',
  'marshal@gmail.com',
  '6679999999',
  'Mar123',
  'Johannesburg',
  datetime.date(2019, 12, 22),
  1),
 (15,
  'Precious',
  'precious@gmail.com',
  '6577999999',
  'Pre123',
  'Abuja',
  datetime.date(2017, 12, 25),
  1)]

In [11]:
print(myresult[0][1], "lives in ",myresult[0][5])
print(myresult[1][1], "lives in ",myresult[1][5])
print(myresult[2][1], "lives in ",myresult[2][5])

Nilay lives in  Lagos
Joshua lives in  Johannesburg
Thinus lives in  Johannesburg

In [4]:
type(myresult)

list

In [12]:
for x in myresult:
    print(x[1]," lives in ",x[5])

Nilay  lives in  Lagos
Joshua  lives in  Johannesburg
Thinus  lives in  Johannesburg
Xaba  lives in  Adda
Thebe  lives in  Adda
Dominic  lives in  Aberdeen
Joel  lives in  Abuja
Tayor  lives in  Abuja
Micheal  lives in  Abuja
Safeeyah  lives in  Johannesburg
Norman  lives in  Durban
Ruhlani  lives in  Lagos
Hulisani  lives in  Durban
Marshal  lives in  Johannesburg
Precious  lives in  Abuja

In [32]:
# disconnecting from server
connection.close()

In [33]:
import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(host='localhost',
                                         database='ecommerce_db',
                                         user='root',
                                         password='root')
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        

        query = "select customer_name from ecommerce_customer;"
        cursor.execute(query)

        myresult = cursor.fetchall()
        
        for x in myresult:
            print(x)


except Error as e:
    print("Error while connecting to MySQL", e)
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Connected to MySQL Server version  8.0.30
You're connected to database:  ('ecommerce_db',)
('Samson',)
('Paul',)
('Kashmira',)
('Cynthiya',)
('Liam',)
('Cynthiya',)
MySQL connection is closed